ServicioCertificados.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ServicioCertificados/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCertificados" targetNamespace="http://www.example.org/ServicioCertificados/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ServicioCertificados/">
      <xsd:element name="EmitirCertificado">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="nif_nie" type="xsd:string" />
          	<xsd:element name="codigo_curso" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EmitirCertificadoResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="certificado" type="tns:Certificado" />
          	<xsd:element name="ok" type="xsd:boolean"></xsd:element>
          	<xsd:element name="mensaje" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Certificado">
      	<xsd:sequence>
      		<xsd:element name="codigo" type="xsd:string">
      		</xsd:element>
      		<xsd:element name="titulo" type="xsd:string"></xsd:element>
      		<xsd:element name="descripcion" type="xsd:string"></xsd:element>
      		<xsd:element name="nif_nie" type="xsd:string"></xsd:element>
      		<xsd:element name="codigo_curso" type="xsd:string"></xsd:element>
      		<xsd:element name="fecha_emision" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EmitirCertificadoRequest">
    <wsdl:part element="tns:EmitirCertificado" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EmitirCertificadoResponse">
    <wsdl:part element="tns:EmitirCertificadoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ServicioCertificados">
    <wsdl:operation name="EmitirCertificado">
      <wsdl:input message="tns:EmitirCertificadoRequest"/>
      <wsdl:output message="tns:EmitirCertificadoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioCertificadosSOAP" type="tns:ServicioCertificados">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EmitirCertificado">
      <soap:operation soapAction="http://www.example.org/ServicioCertificados/EmitirCertificado"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCertificados">
    <wsdl:port binding="tns:ServicioCertificadosSOAP" name="ServicioCertificadosSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
